@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~resources/scss/partials/_mixins.scss';
@import '~resources/scss/partials/_variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 12vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

.active {
    color: $blue;
    border-bottom: 3px solid $blue;
    padding-bottom: 2em;
}

.height-full {
    height: 100%;
}

.img-full {
    height: 70px;
}

.white {
    color: $white;
}

.bg-blue {
    background-color: $blue;
}

.font-12 {
    font-size: 13px;
}